<section id="eight-block">
    <div class="title3-container">
        <br>
        <h3>&emsp;&emsp;フォロワー&emsp;&emsp;</h3>
        <% @users.each do |user| %>
            <a href="/users/<%= user.id %>"><%= user.name %></a>
        <% end %>
        <br>
        <br>
    </div>
</section>